@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');
@import 'tailwindcss';

@theme {
  --font-ibm: 'IBM Plex Sans KR', sans-serif;
  --font-bagel: 'Bagel Fat One', sans-serif;

  --breakpoint-xs: 360px;
  --breakpoint-sm: 720px;
  --breakpoint-md: 1080px;
  --breakpoint-lg: 1440px;
  --breakpoint-xl: 1800px;

  --color-subtle-orange: #f39945;
}

@custom-variant dark (&.dark, .dark &);

@layer base {
  body {
    @apply font-ibm bg-subtle-orange text-center align-middle leading-none text-zinc-50;
    @apply min-h-dvh;
  }

  h1,
  h2,
  h3 {
    @apply font-bold;
  }
}

@layer components {
  .centralize {
    @apply flex items-center justify-center;
  }

  .heading {
    @apply font-bagel text-6xl text-white;
  }

  .sub-heading {
    @apply bg-subtle-orange absolute -top-5 left-5 px-4 text-3xl;
  }

  .card {
    @apply bg-zinc-100 text-stone-900;
  }

  .card-heading {
    @apply text-xl font-black;
  }

  .sub-text {
    @apply font-medium text-stone-600;
  }

  .list {
    @apply relative w-full min-w-80 flex-col rounded-md border-2 border-zinc-100 p-4;
  }

  .like-bg {
    @apply h-16 w-full bg-gradient-to-b from-zinc-50 to-transparent;
  }
}

.grid-list {
  @apply mx-4 my-4 grid grid-cols-[repeat(auto-fit,minmax(200px,1fr))] gap-4 self-stretch sm:grid-cols-[repeat(auto-fit,minmax(270px,1fr))];
}

.message {
  @apply h-16 py-4;
}

.modal {
  @apply bg-zinc-100 text-xl font-semibold opacity-95;
}

.button {
  @apply bg-subtle-orange rounded-lg px-4 py-0.5 text-lg text-zinc-50;
}
