@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gothic+A1&display=swap');
@import 'tailwindcss';

@theme {
  --font-black-sans: 'Black Han Sans', sans-serif;
  --font-gothic: 'Gothic A1', sans-serif;

  --breakpoint-xs: 360px;
  --breakpoint-sm: 720px;
  --breakpoint-md: 1080px;
  --breakpoint-lg: 1440px;
  --breakpoint-xl: 1800px;
}

@custom-variant dark (&.dark, .dark &);

@layer base {
  body {
    @apply font-gothic bg-amber-500 text-center align-middle leading-none text-zinc-100;
    @apply min-h-dvh;
  }

  h1,
  h2,
  h3 {
    @apply font-black-sans font-black;
  }
}

@layer components {
  .centralize {
    @apply flex items-center justify-center;
  }

  .heading {
    @apply text-5xl text-amber-100;
  }

  .sub-heading {
    @apply absolute -top-4 bg-amber-500 px-4 text-4xl;
  }

  .card {
    @apply bg-zinc-100 text-amber-500;
  }

  .card-heading {
    @apply text-[28px] font-black;
  }

  .list {
    @apply relative w-full min-w-80 flex-col border-2 border-zinc-100 px-4 pt-4;
  }
}
